#latex clutter
**/*.aux
**/*.log
**/*.toc
**/*.synctex.gz
**/*.fdb_latexmk
**/*.fls

#macOS clutter
**/.DS_Store

#py clutter (idk google said to)
__pycache__/
*.pyc

#virtual environments
.venv/
venv/
ENV/